<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender>

	<!--
	<category name="org.springframework">
		<priority value="debug"/>
	</category>
	-->

	<!--
	<category name="org.hibernate.SQL">
		<priority value="debug"/>
	</category>
	-->

	<!--
	<category name="org.hibernate">
		<priority value="debug"/>
	</category>
	-->

	<category name="net.bluewizardhat">
		<priority value="trace"/>
	</category>

	<root>
		<priority value="info"/>
		<appender-ref ref="stdout"/>
	</root>
</log4j:configuration>